$white: #ffffff;
$black: #1e1e26;
$charcoal: #39383f;
$rosepink: #95757a;
$redpink : #cc4c65;
$babypink: #f5d8db;


//TODO:
//Make card around hero, impliment floating/pararallax (research)
//remove about extra text
//right justify noname on quotes
//create image and contact form for cssgrid to center
//clean up files. remove unused variables.