$white: #ffffff;
$black: #1e1e26;
$charcoal: #39383f;
$rosepink: #95757a;
$redpink : #cc4c65;
$babypink: #f5d8db;
//Alt color set
$darkgray: #484349;
$eggshell: #f7f0f0;
$elcblue: #8af3ff;
$persiangrn: #18a999;
$spanishgrn: #109648;


//TODO:
//Make main card - impliment floating/pararallax (research)  Also think about carasol for three products
//login/settings icons
//Admin page workflow Css